[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = false
name = "pytorch"

[packages]
pillow = "*"
transformers = "*"
torch = {version = "*", index = "pytorch"}
fastapi = "*"
python-multipart = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
